.BreadLower {
    width: 100%;
    height: 40px;
    border-radius: 5px 5px 12px 12px;
    background-color: #ff6600;
    border: 2px solid #dc9029;
    margin: auto;
}

.BreadUpper {
    width: 100%;
    height: 150px;
    border-radius: 100% 100% 12px 12px;
    background-color: #ff6600;
    border: 2px solid #dc9029;
    margin: auto;
}