.Tomatoes {
    width: 100%;
    height: 18px;
    background-color: #ff2a2a;
    border-radius: 12px;
    margin: auto;
    border: 2px solid #ee2a2a;
}

.group {
    display: flex;
    padding: 0 30px;
}